body {
    text-align: center;
    color: #1f2328;
    background: #ffffff;
    font-family: system-ui, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#header {
    height: 100%;
    width: 100%;
}
a {
    color: #0969da;
}
#buttonAreaContainer {
    margin-top: 25%;
}
#buttonArea {
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttonArea > button{
    width: 11em;
    height: 4.5em;
    background: #e9e9ed;
    border: 2px solid #8f8f9d;
    border-radius: 15px;
    font-size: 1.3em;
    margin: 1em;
}
#buttonArea > button:hover {
    background: #d0d0d7;
    border: 2px solid #676774;
    cursor: pointer;
}
#image {
    height: 50vh;
    width: auto;
}
